Repository zotonic/zotonic, pull requests merged in 2025-09, with the labels that each got.

#4181 mod_export: editable export columns with value expressions
  apps/zotonic_core/src/models/m_rsc.erl
  apps/zotonic_core/src/support/z_expression.erl
  apps/zotonic_mod_admin/priv/lib-src/zotonic-admin/scss/_base.scss
  apps/zotonic_mod_admin/priv/lib/css/zotonic-admin.css
  apps/zotonic_mod_admin/priv/templates/_admin_edit_content.query.tpl
  apps/zotonic_mod_export/priv/templates/_admin_edit_sidebar.tpl
  apps/zotonic_mod_export/src/mod_export.erl
  apps/zotonic_mod_export/src/support/export_encoder.erl
  apps/zotonic_mod_export/src/support/export_encoder_csv.erl
  apps/zotonic_mod_export/src/support/export_encoder_json.erl
  apps/zotonic_mod_export/src/support/export_encoder_xlsx.erl
  apps/zotonic_mod_export/src/support/export_helper.erl
  apps/zotonic_mod_export/src/support/export_value.erl
Labels: enhancement, admin-ui

#4188 mod_filestore: Add backoff to remote filestore operations
  apps/zotonic_mod_filestore/rebar.config
  apps/zotonic_mod_filestore/src/mod_filestore.erl
  apps/zotonic_mod_filestore/src/models/m_filestore.erl
  apps/zotonic_mod_filestore/src/support/filestore_uploader.erl
  apps/zotonic_mod_filestore/src/zotonic_mod_filestore.app.src
  rebar.lock
Labels: enhancement, efficiency, stability, performance

#4190 new: allow containerization in Podman
  README.md
  doc/developer-guide/getting-started.rst
  docker-compose.yml
  docker/docker-entrypoint.sh
  start-podman.sh
Labels: docker

#4217 mod_admin: fix an issue where date-is-all-day could not be selected on Safari
  apps/zotonic_mod_admin/priv/templates/_admin_edit_content_date_range.tpl
  apps/zotonic_mod_admin/priv/templates/_edit_date.tpl
Labels: admin-ui
